html {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

:root {
	--rightBarWidth: 30px;
	--topBarHeight: 28px;
	--bottomBarHeight: 20px;
	--chromeColor: rgb(47, 47, 51);
	--editorWidth: 200px;
}

.SimojiApp {
	height: 100%;
	width: 100%;
}

.SimEditorComponent {
	white-space: pre-wrap;
}

.LogoComponent {
	cursor: pointer;
}

.helpIframe {
	border: 0;
	height: 100%;
	min-height: 600px;
	min-width: 800px;
	width: 100%;
}

.GridComponent {
	position: absolute;
	left: 0;
	top: 0;
	background: transparent;
	z-index: 0;
	width: 100%;
	height: 100%;
}

.SimEditorComponent {
	position: absolute;
	top: var(--topBarHeight);
	width: var(--editorWidth);
	bottom: var(--bottomBarHeight);
	border: 0;
	left: 0;
}

.block {
	position: absolute;
	cursor: pointer;
	/*outline: 1px solid blue;*/
}

.block:active {
	background: rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

.BoardComponent {
	position: absolute;
	top: var(--topBarHeight);
	left: var(--editorWidth);
	bottom: var(--bottomBarHeight);
	right: var(--rightBarWidth);
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	margin: 10px;
}

.selected {
	outline: 1px solid rgba(0, 0, 200, 0.3);
	border-radius: 5px;
}

.AgentPaletteComponent {
	text-align: center;
}

.AgentPaletteComponent div {
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
	opacity: 0.7;
	width: 100%;
	height: 20px;
}

.AgentPaletteComponent div:hover,
.AgentPaletteComponent .ActiveObject {
	opacity: 1;
}

.TopBarComponent {
	background-color: var(--chromeColor);
	color: white;
	font-size: 14px;
	line-height: var(--topBarHeight);
	height: var(--topBarHeight);
	padding-left: 5px;
	white-space: nowrap;
}
.TopBarComponent input {
	background: transparent;
	color: white;
	border: 0;
}

.BottomBarComponent {
	position: absolute;
	line-height: var(--bottomBarHeight);
	height: var(--bottomBarHeight);
	padding-left: 5px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--chromeColor);
	color: white;
	font-size: 12px;
}

.TopBarComponentButton {
	cursor: pointer;
	user-select: none;
	width: 30px;
	display: inline-block;
}

.RightBarComponent {
	position: absolute;
	width: var(--rightBarWidth);
	top: var(--topBarHeight);
	bottom: var(--bottomBarHeight);
	right: 0;
	padding-top: 20px;
	background-color: var(--chromeColor);
	color: white;
	font-size: 12px;
	z-index: 1;
}

.Agent {
	position: absolute;
}
.ExamplesComponent a {
	color: white;
}
.ExamplesComponent {
	padding-left: 10px;
	display: inline-block;
}
